@{
    ViewData["Title"] = "Home Page";
}

<div class="app">
    <h1>Personal Organizer App</h1>
    <p>Current time: @DateTime.Now</p>

    <div class="reminders">
        <h2>Reminders</h2>
        <ul>
            <li>Work at 4pm</li>
        </ul>
        <button>Edit</button>
        <button>Add New Reminder</button>
    </div>
    <div class="tasks">
        <h2>Tasks</h2>
        <ul>
            <li>Work on Personal Organizer App</li>
        </ul>
        <button>Edit</button>
        <button>Add New Task</button>
    </div>
    <div class="schedule">
        <h2>Schedule</h2>
        <ul>
            <li>Friday - Work at 4pm</li>
            <li>Sunday - Work at 4:30p</li>
        </ul>
        <button>Edit</button>
        <button>Add New Schedule Item</button>
    </div>
    <div class="notes">
        <h2>Notes</h2>
        <ul>
            <li>No notes atm<button>Edit</button></li>
        </ul>
        <button>Edit</button>
        <button>Add New Note</button>
    </div>
</div>
